@charset "utf-8";
header {
    background-color: rgba(2,2,2,0.84);
    padding-top: 10px;
    padding-right: 80px;
    padding-left: 0px;
    padding-bottom: 10px;
    max-height: 20px;
}
.container  {
    /*	width: clamp(400px, 700vw, 1200px);*/
    max-width: 2000px;
    margin-left: 60px;
    margin-right: 60px;
    padding-right: 0px;
}

main {
}

nav   {
    float: right;
    margin-top: -4px;
    margin-right: -76px;
}
.mobile-view {
    display: none;
}
.desktop-view ul li  {

    list-style-type: none;
    display: inline-block;
}
.desktop-view ul li a {
    padding-top: 5px;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #E8E8E8;
}
.desktop-view {
    margin-top: -2px;
}


.btn-orange   {
    background-color: #D1752A;
    padding-top: 0px;
}
.btn-blue {
    background-color: #AEB6C0;
    height: auto;
}
body {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-weight: 300;
    font-style: normal;
    background-color: #EAEAEA;
    background-image: url(url);
    margin-left: 40px;
    margin-right: 40px;
    min-width: 0px;
    max-width: 2000px;
    clear: both;
    margin-top: 0px;
}
.hero-backimage {
    background-image: url(images/HeroBackHorce2.svg);
    background-repeat: no-repeat;
    margin-top: 0px;
    padding-top: 10px;
    width: 95%;
/*    background-size: cover;*/
}



.bg {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Artwork' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 633 393'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B filter: url(%23drop-shadow-1); %7D .cls-2 %7B fill: none; stroke: %23ac9e85; stroke-miterlimit: 10; stroke-width: 5px; %7D %3C/style%3E%3Cfilter id='drop-shadow-1' filterUnits='userSpaceOnUse'%3E%3CfeOffset dx='7' dy='7'/%3E%3CfeGaussianBlur result='blur' stdDeviation='5'/%3E%3CfeFlood flood-color='%23000' flood-opacity='.75'/%3E%3CfeComposite in2='blur' operator='in'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg class='cls-1'%3E%3Cg%3E%3Cpath class='cls-2' d='M249.9,29.62c-2.44-.52-5.32,4.83-6.76,6.24-1.44,1.41-1.8,3.18-1.79,4.88,.02,2.28,.65,4.56,1.86,6.69,.91,1.61,2.46,3.31,5,3.67,2.45,.35,4.82-.69,6.84-1.68,3.25-1.58,6.9-2.8,9.3-5.45,2.21-2.44,2.39-5.15,6.28-6.03,.89-.2,1.91-.22,2.6,.37,.45,.38,.67,.96,.88,1.51,.58,1.54,1.16,3.07,1.74,4.61,.18,.47,.37,.97,.75,1.3,.29,.26,.66,.39,1.03,.51,3.34,1.01,7.74-.32,8.6-3.7'/%3E%3Cpath class='cls-2' d='M285.47,42.07c3.29-.01,4.7,6.15,3.49,9.21-1.01,2.55-3.8,3.87-5.45,6.06-2.34,3.1-4.54,7.74-3.38,11.42'/%3E%3Cpath class='cls-2' d='M279.53,68.83c-9.06-1.75-18.51-.03-27.1,3.33s-16.46,8.29-24.28,13.2c-1.76,1.1-3.7,2.5-3.87,4.56-.09,1.08,.35,2.13,.78,3.12,2.16,5.03,4.37,10.14,7.99,14.24,3.03,3.42,6.89,5.97,10.47,8.82,7.02,5.59,13.12,12.65,16.19,21.09,3.07,8.43,2.79,18.35-2.07,25.9,3.14-4.21,6.27-8.42,9.41-12.62,1.04-1.39,2.11-2.86,2.4-4.57,.32-1.88-.34-3.77-.89-5.59-3.29-10.85-3.49-23.22-10.75-31.92-4.45-5.33-11-8.5-15.84-13.49,6.6-5.99,16.85-3.77,25.72-4.62,5.76-.55,11.38-2.59,16.15-5.87,1.22-.84,2.5-2.38,1.66-3.6,3.51,2.18,7.51,3.57,11.62,4.03-3.51,4.15-5.99,9.16-7.18,14.46-2.15,9.56-.08,19.68-2.15,29.27-.16,.73-1.55,1.1-1.2,.45'/%3E%3Cpath class='cls-2' d='M265.6,172.62c2.22-10.31,7.28-19.75,12.28-29.03,3.1-5.76,6.2-11.52,9.31-17.28'/%3E%3Cpath class='cls-2' d='M265.68,175.13c-3.36-.35-6.81,.24-9.86,1.69-.55,.26-1.13,.59-1.38,1.15-.25,.56-.11,1.2,.03,1.79,1.05,4.34,2.09,8.67,3.14,13.01,1.25,5.19,3.74,11.49,9.07,11.83-5.22-6.55-6.18-16.74-.84-23.19,1.89-2.28,4.38-3.95,6.64-5.85,4.83-4.03,8.7-9.08,12.52-14.08,5.27-6.9,10.75-14.32,11.45-22.97,.18-2.2,.04-4.47,.8-6.54,.66-1.81,2.09-3.21,3.14-4.83,12.45-19.25,15.38-46.69,17.42-72.83,.82-10.53-1.95-22.69-10.83-28.4'/%3E%3Cpath class='cls-2' d='M282.96,20.05l-1.42-.15c-.35,2.3,1.47,4.42,3.52,5.52,5.55,3,12.34,1,18.65,1.28,3.17,.14,6.33,.51,9.5,.33,1.62-.09,7.34,2.15,8.74,1.69,5.34-1.78,2.9,2,7.12,0'/%3E%3Cpath class='cls-2' d='M254.34,12.72c36.37-.06,47.16,2.51,69.17,3.67,9.44,.5,19.89,1.37,26.38,8.25,4.4,4.66,6.1,11.24,9.67,16.56,3.57,5.33,8.63,12.43,15.74,12.43'/%3E%3Cpath class='cls-2' d='M292.59,27.84c4.38,.35,44.77,.63,47.55,4.04s4.69,7.43,6.93,11.21c3.14,5.28,6.96,10.16,11.35,14.46,1.36,1.33,2.8,2.64,4.54,3.41,2.59,1.15,5.55,1.01,8.38,.84,3.64-.21,5.03-2.22,6.64-5.5'/%3E%3Cpath class='cls-2' d='M375.3,55.41c4.15-4.26,7.72-11.17,12.13-15.16,3.22-2.91,6.63-5.82,10.76-7.18,2.53-.83,5.22-1.04,7.89-1.22,5-.34,10-.6,15.01-.78'/%3E%3Cpath class='cls-2' d='M378.5,56.38c.9-.5,1.75-1.09,2.53-1.75,1.87-1.58,3.36-3.57,5.01-5.37,8.54-9.29,22.27-13.45,34.53-10.47'/%3E%3Cpath class='cls-2' d='M421.09,29.32c-.86-.93-.07-2.42,.8-3.34,5.39-5.72,14.11-8.05,21.63-5.78,7.53,2.27,13.5,9.03,14.83,16.78'/%3E%3Cpath class='cls-2' d='M459.08,35.38c7.4,1.22,14.8,2.44,22.2,3.65,5.15,.85,10.38,1.72,15.1,3.95,7.07,3.35,12.38,9.45,17.48,15.38,6.43,7.48,12.86,14.97,19.29,22.45,3.75,4.37,7.74,10.2,5.26,15.39'/%3E%3Cpath class='cls-2' d='M525.62,79.42c5.06,3.63,11.08,11.33,13.48,17.08'/%3E%3Cpath class='cls-2' d='M526.3,79.93c1.87,5.76-1.11,7.45-3.58,9.58,.84-8.91-3.3-18.13-10.51-23.42-2.07-1.52-4.36-2.73-6.32-4.39-2.91-2.47-4.98-5.93-5.78-9.66-10.46-.6-20.83-2.73-30.68-6.29-1.78,6.96,4.14,13.19,8.22,19.1,11.29,16.33,9.13,40.6-4.87,54.68-5.33,5.36-12.26,9.55-15.44,16.41-2.43,5.24-2.29,11.26-2.1,17.03,.22,6.73,.44,13.46,.66,20.18,.19,5.8,.18,12.2-3.62,16.58-4.31,4.97-12.2,5.71-16.23,10.91,4.71-6.14,9.41-12.27,14.12-18.41,1.06-1.39,2.17-2.89,2.27-4.64,.07-1.25-.4-2.47-.92-3.6-3.01-6.53-8.18-12.08-10.02-19.03-2.46-9.3,1.54-19.05,6.38-27.37,4.83-8.32,8.41-17.35,10.15-26.82'/%3E%3Cpath class='cls-2' d='M458.02,100.77c-1.08,6.63-7.02,8.99-13.66,10.08-1.52,.25-3.07,.28-4.62,.31-5.58,.1-11.15,.21-16.73,.31-3.2,.06-8.16,.61-9.47,3.54'/%3E%3Cpath class='cls-2' d='M418.89,111.44c.3-.48-11.39,13.65-16.01,21.35-1.99,3.31-4.38,5.71-7.12,7.12-1.66,.85-8.41,1.76-8.89,3.56-.25,.92,3.26,5.29,3.3,6.24,.09,2.16-2.04,3.67-3.92,4.76-7.03,4.05-14.06,8.1-21.09,12.15,6.51-15.27,19.51-26.68,28.88-40.38,3.79-5.54,7-11.48,11.17-16.73s9.53-9.88,16-11.63c7.47-2.02,16.16-.19,22.48-4.66,4.91-3.47,6.87-10.55,4.45-16.06'/%3E%3Cpath class='cls-2' d='M428.44,22.68c-2.62,.08-5.07,1.66-6.57,3.81-1.5,2.15-2.15,4.82-2.23,7.44-.06,1.98,.21,4.07,1.36,5.68,1.27,1.78,3.44,2.74,5.61,3.02s11.46,1.53,13.62,1.21'/%3E%3Cpath class='cls-2' d='M257.9,10.94c-8.38,5.11-22.2,9.43-31.94,8.24-3.29-.4-6.55-1.18-9.87-1.13-12.64,.18-21.79,11.68-33,17.52-4.88,2.54-7.75,6.2-13.25,6.51'/%3E%3Cpath class='cls-2' d='M249.59,29.5c-2.62-2.63-6.24-4.24-9.95-4.42-3.81-.18-7.53,1.08-11.32,1.48-4.3,.46-8.66-.19-12.95,.37-11.56,1.5-20.56,11.37-32.01,13.56'/%3E%3Cpath class='cls-2' d='M185.86,40.29c-2.39-1.77-1.25,1.49-1.83,2.22-.57,.73-17.11,.24-17.74-.44-2.96-3.23,8.02,8.85,12.49,12.66,2.94,2.5-1.23,1.46-2.13,1.68-1.17,.28-2.32-.41-3.49-.71-1.82-.47-3.22-3.16-5.09-2.95s-4.51,3.19-5.74,1.77c-.59-.68-1.03-1.5-1.42-2.32-6.55-13.95-8.81-10.51-7.07-6.57'/%3E%3Cpath class='cls-2' d='M171.63,42.07c-9.98-1.34-22.66,.69-32.43,3.14-5.3,1.33-10.59,2.66-15.89,3.99-5.61,1.41-11.4,2.9-16,6.43-4.59,3.52-8.6,7.61-6.84,13.12'/%3E%3Cpath class='cls-2' d='M159.17,47.41c-6.63-.6-17.79,.76-23.68,3.86-4.31,2.27-8.61,4.55-12.92,6.82-4.41,2.33-9.21,5.11-10.72,9.87-1.18,3.73,0,7.75,1.19,11.47,1.1,3.44,2.22,6.88,3.35,10.32,1.21,3.67,3.05,7.9,6.84,8.67'/%3E%3Cpath class='cls-2' d='M121.82,97.21c7.52-.2,16.03-5.58,23.42-7,4.85-.93,10.06,.16,14.12,2.97,2.97,2.05,5.46,5.42,5,9.01-.4,3.11-2.86,5.53-5.36,7.43-1.12,.85-2.33,1.68-3.72,1.95-1.53,.3-3.1-.12-4.6-.53-5.93-1.62-11.86-3.25-17.78-4.87-1.58-.43-6.24,2.49-7.52,3.5'/%3E%3Cpath class='cls-2' d='M207.2,171.92c-2.77,1.2-5.88,3.69-8.89,3.56,4.01,1.15,6.85,2.3,8.64,6.07,.93,1.95,1.41,4.26,.58,6.25-.83,1.99-.18,2.88-2.11,1.91-.93-.47-1.16-4.5-1.78-5.34-2.76-3.69-9.61-3.36-13.32-6.09-10.89-8.02-24.87-11.1-35.53-19.43-10.45-8.16-17.19-20.96-29.07-26.86'/%3E%3Cpath class='cls-2' d='M100.47,65.19c1.92,13.15,2.65,27.83-2.61,40.03-2.13,4.93-5.31,9.31-7.9,14.01-6.08,11.04-8.75,23.92-7.57,36.47'/%3E%3Cpath class='cls-2' d='M146.55,260.23c.57,2.08,1,4.25,2.15,6.08,1.1,1.73,2.79,3.04,3.7,4.87,1.41,2.76,.75,6.08-.25,9.02-1.3,3.86-3.33,7.7-6.78,9.85-3.31,2.08-8.18,2.03-10.74-.85,5.53-1.89,7.17-9.48,6.56-15.39-.6-6.03-4.45-11.31-9.05-15.23-3.52-2.99-7.52-5.32-11.51-7.7l-.59-.69'/%3E%3Cpath class='cls-2' d='M82.68,155.91c-7.15,3.96-17.38,5.92-25.12,8.55-4.11,1.4-8.28,2.6-12.32,4.18-11.58,4.53-21.92,12.19-29.62,21.95'/%3E%3Cpath class='cls-2' d='M16.87,189.71c-3.92,10.94-6.68,23.74-5.81,35.33,.7,9.42,1.62,18.82,2.76,28.2'/%3E%3Cpath class='cls-2' d='M13.31,248.42c.43,12.57,4.97,28.41,16.01,37.36'/%3E%3Cpath class='cls-2' d='M29.32,285.77c-1.19-2.89-5.05-9.53-3.63-12.32,3.55-6.99,.51-16.25-3.48-17.92'/%3E%3Cpath class='cls-2' d='M22.08,255.61c-1.03-8.72,2.45-17.27,3.92-25.92,1.01-5.95,.53-12.06,1.15-18.06,.61-5.9,4.18-19.11,.14-13.54'/%3E%3Cpath class='cls-2' d='M28.44,196.84c3.33,2.25,7.74,.54,11.65-.4,4.19-1,8.57-1.01,12.79-1.89,3.35-.7,6.56-1.94,9.75-3.17,7.07-2.74,20.1-11.39,27.17-14.13'/%3E%3Cpath class='cls-2' d='M126.66,183.34h-.43'/%3E%3Cpath class='cls-2' d='M126.18,182.92l-.58-1.61'/%3E%3Cpath class='cls-2' d='M125.38,180.82c4.51,4.99,8.92,8.98,13.43,13.97,.9,.99,2.05,2.07,3.36,1.83,1.91-2.11,.48-5.39-.34-8.12-1.07-3.61-1.96-.68-.45-4.12,.77,2.64,1.78,5.34,5.34,8.89,2.41,2.41-.95-.95,1.78,1.78,1.78,1.78,3.56,7.12,10.67,8.89'/%3E%3Cpath class='cls-2' d='M154.81,202.56c16.18,5.04,32.1,10.87,47.71,17.47,10.94,4.63,21.83,9.68,33.45,12.15'/%3E%3Cpath class='cls-2' d='M125.38,180.82c-1.65-4.43,3.65,10.07,5.34,12.45,17.38,24.53,31.89,22.04,48.17,29.62,5.04,2.34,10.08,4.69,15.23,6.77,21.77,8.81,46.3,13.38,63.44,29.44,3.31,3.1,6.3,6.63,8.17,10.76,2.54,5.61,2.86,11.93,3.49,18.05,1.75,16.73,6.22,33.18,13.18,48.5'/%3E%3Cpath class='cls-2' d='M282.9,336.16c5.51,4.11,12.65,5.07,19.24,7.01,6.4,1.88,12.44,4.78,18.58,7.38,23.04,9.78,47.74,15.63,72.72,17.22'/%3E%3Cpath class='cls-2' d='M393.98,367.6c-7.34-2.47-16.93-6.89-24.27-9.36-1.6-.54-3.27-1.11-4.47-2.31-2-1.98-2.19-5.08-3.07-7.75-.87-2.67-3.48-5.42-6.1-4.4-1.78,.7-2.55,2.78-3.99,4.05-2.15,1.89-5.54,1.63-8.06,.29-2.53-1.35-4.45-3.57-6.51-5.55-9.35-8.98-22.78-13.55-35.67-12.14-2.23-17.83-2.27-35.92-.13-53.76'/%3E%3Cpath class='cls-2' d='M301.48,276.88c-1.93,4.61,.39,7.98,2.25,12.62,1.86,4.64,5.59,8.49,10.17,10.49,1.94,.85,4,1.37,6.03,1.95,6.78,1.93,16.2,5.5,22.46,8.73'/%3E%3Cpath class='cls-2' d='M340.51,309.38c21.23,15.05,44.57,27.12,69.12,35.76'/%3E%3Cpath class='cls-2' d='M408.23,345.18c6.17,9.03,14.69,16.44,24.49,21.3'/%3E%3Cpath class='cls-2' d='M433.12,365.82c-4.25-1.73-7.01-9.16-7.9-13.66-.89-4.5-1.88-9.57-5.7-12.12-1.68-1.12-3.69-1.57-5.61-2.21-10.28-3.39-17.91-11.83-26.38-18.57-9.65-7.69-20.87-13.4-32.76-16.71'/%3E%3Cpath class='cls-2' d='M355.06,302.31c-2.77-.22-4.5-2.98-6.04-5.3-4.28-6.43-10.53-11.52-17.69-14.43-1.52-.62-3.09-1.15-4.42-2.1-1.51-1.08-2.6-2.62-3.74-4.08-11.05-14.13-28.68-22.32-38.51-37.32,4.22,2.79,9.47,3.33,14.44,4.31,24.29,4.8,45.47,21.77,70.18,23.27'/%3E%3Cpath class='cls-2' d='M369.13,264.81c-1.21,1.4-4.01,.44-4.1-1.41,2.27,2.1,5.89,1.65,8.79,.56,2.9-1.09,5.76-2.71,8.85-2.53'/%3E%3Cpath class='cls-2' d='M383.31,260.87c-7.67-2.14-17.72-3.79-25.67-3.29'/%3E%3Cpath class='cls-2' d='M358.41,257.31c-15.19-4.14-33.32-13.03-46.77-21.22-4.47-2.72-8.89-5.54-13.63-7.75-9.85-4.58-20.98-6.37-31.77-5.09'/%3E%3Cpath class='cls-2' d='M237.7,229.94c-5.19-1.27-10.11-3.63-14.34-6.89-3.56-2.75-6.8-6.48-7.18-10.96-.54-6.35,4.89-11.82,10.82-14.16,11.56-4.57,26.04,.15,32.69,10.65,2.99,4.73,4.44,10.28,5.11,15.84'/%3E%3Cpath class='cls-2' d='M526.83,90.03c4.55,6.04,5.4,14.11,4.83,21.66-.57,7.54-2.37,14.98-2.46,22.54-.09,7.52,1.55,15.05,4.75,21.86'/%3E%3Cpath class='cls-2' d='M530.97,87.84c2.08,12.03,12.8,22.06,11.9,34.24-.31,4.2-1.9,8.93,.64,12.29'/%3E%3Cpath class='cls-2' d='M544.3,133.68c-.67-.8-2.34-.9-1.78-1.78,2.37-3.7,11.29-6.71,15.47-8.05,4.18-1.34,8.61-1.71,12.98-2.06,1.86-.15,3.76-.3,5.55,.23,4.78,1.4,7.04,7.28,6.12,12.18-.92,4.9-4.16,8.99-7.31,12.86-.98,1.2-1.99,2.42-3.36,3.13-2.96,1.53-6.8,4.37-9.87,3.07'/%3E%3Cpath class='cls-2' d='M562.88,149.32c-2.24,6.55-3.58,13.43-3.73,20.36-.13,6.06,.65,12.1,.74,18.15,.25,16.85-7.62,26.39-17.37,40.13'/%3E%3Cpath class='cls-2' d='M481.31,266.11l-.16,.09c-1.37-.69-1.23-.55,.16-.09Z'/%3E%3Cpath class='cls-2' d='M516.46,253.43c-1-1.1-3.59-3.81-5.67-6.23l.37-.25,5.3,6.48Z'/%3E%3Cpath class='cls-2' d='M542.52,227.96c-10.12,14.98-28.98,38.89-30.24,39.21-15.03,3.7-27.32,.2-30.97-1.05l.34-.23c4.89,1.51,5.16,.32,6.62,.32,5.34,0,17.09-1.09,24.9-8.89,1.21-1.21,2.33-2.44,3.43-3.72,3.7-4.32,7.08-9.39,12.58-17.63,.18-.28,.39-.6,.62-.96l12.72-7.04Z'/%3E%3Cpath class='cls-2' d='M533.62,153.25c-2.97,2.24-11.98,7.3-15.37,8.84-2.83,1.29-4.56,4.33-4.98,7.41s3.41,12.8,4.35,15.76'/%3E%3Cpath class='cls-2' d='M516.46,253.43c-1-1.1-3.59-3.81-5.67-6.23-1.62-1.89-2.92-3.59-2.95-4.29l3.33,4.04,5.3,6.48Z'/%3E%3Cpath class='cls-2' d='M516.46,253.43c-1-1.1-3.59-3.81-5.67-6.23-1.62-1.89-2.92-3.59-2.95-4.29l3.33,4.04,5.3,6.48Z'/%3E%3Cpath class='cls-2' d='M522.06,257.31c6.61,15.38,18.84,34.13,35.22,37.58,13.11,2.76,27.87,.73,38.9,8.33'/%3E%3Cpath class='cls-2' d='M539.85,237.74c10.67,8.89,10.67,12.45,7.14,22.87'/%3E%3Cpath class='cls-2' d='M594.99,301.78c4.48,5.85,7.86,19.39,8.89,26.68'/%3E%3Cpath class='cls-2' d='M604.73,327.57c-.24,1.47,2.49-14.95,2.05-23.79'/%3E%3Cpath class='cls-2' d='M547.85,258.2c1.72,2.81,.09,4.5,.93,7.69,1.13,4.27,1.52,8.95,4.25,12.43,4.5,5.73,12.97,5.59,20.14,6.85,8.37,1.47,16.07,5.44,23.61,9.37,2.28,1.18,4.55,2.37,6.83,3.55,2.78,1.45,5.6,.14,3.82,5.48'/%3E%3C/g%3E%3Cpath class='cls-2' d='M439.45,43.54c2.09,1.12,4.39,2.53,4.84,4.86,.54,2.81-1.89,5.19-3.26,7.69-1.95,3.56-1.74,8.2,.52,11.57,.87,1.31,2.01,2.41,3.01,3.63,2.27,2.78,3.79,6.18,4.34,9.73'/%3E%3Cpath class='cls-2' d='M521.23,179.76c-4.06,4.21-5.96,10-7.73,15.58-2.44,7.67-4.89,15.42-5.45,23.45'/%3E%3Cpath class='cls-2' d='M508.17,219.23c-9.21,1.75-17.91,5.51-26.25,9.77-9.92,5.06-19.52,10.91-27.8,18.35-8.28,7.44-15.23,16.57-19.1,27.01'/%3E%3Cpath class='cls-2' d='M434.91,274.21c-.38,4.67,1.1,9.28,2.49,13.76,4.18,13.48,7.69,27.17,10.52,40.99'/%3E%3Cpath class='cls-2' d='M447.61,328.22c-1.04,2.47-2.07,4.93-3.11,7.4,5.5-.71,10.19-5.54,10.74-11.06,.22-2.26-.17-4.58,.45-6.77,.27-.96,.73-1.86,.91-2.84,.55-2.94-1.43-5.67-3-8.21-4.41-7.18-6.1-15.66-7.57-23.96-.12-.7-.24-1.43-.03-2.11,.24-.77,.87-1.34,1.48-1.86,17.61-15.12,41.81-21.56,57.79-38.38'/%3E%3Cpath class='cls-2' d='M506.07,239.39l-.3,.3'/%3E%3Cpath class='cls-2' d='M505.56,239.64c.61,1.11,1.67,1.96,2.89,2.3'/%3E%3Cpath class='cls-2' d='M88.02,177.26c.64,8.27,6.44,52.96,12.56,58.56,6.12,5.6,12.1,10.56,19.46,14.37'/%3E%3Cpath class='cls-2' d='M126.41,132.25c-1.75,1.51-3.49,3.01-5.24,4.52-.89,.77-1.79,1.54-2.43,2.53-.6,.92-.95,1.97-1.28,3.02-2.83,8.97-6.43,21.51-3.65,30.5'/%3E%3Cpath class='cls-2' d='M112.04,167.48c1.66-.78,.73,5.57,3.48,9.43,.94,1.32,1.69,2.75,2.02,4.33,2.69,12.74-6.37,26.49-1.46,38.56,2.8,6.87,9.43,11.24,14.67,16.49,6.24,6.25,12.91,15.13,15.09,23.69'/%3E%3Cpath class='cls-2' d='M126.27,110.55c6.41,.97,12.79,6.97,16.64,12.19,1.91,2.59,3.3,5.53,5.02,8.26,2.29,3.62,2.15,11.95,5.02,15.13,6.81,7.55,16.73,10.01,24.95,16,8.22,5.99,18.25,10.4,28.42,10.68'/%3E%3C/g%3E%3C/svg%3E");
    height: 303px;
    width: 503px;
    display: block;
    float: none;
    clear: both;
    background-repeat: no-repeat;
    margin-left: 187px;
    margin-top: 34px;
}
main {

}
footer {
    height: 97px;
    margin-top: 33px;
    margin-right: 15px;
    margin-left: 15px;
}
.social-icons {
    float: left;
    clear: none;
}
.copyright {
    float: right;
    margin-top: 14px;

}
.hero-content {
    margin-left: 5px;
    min-height: 300px;
    min-width: 600px;
    max-height: 400px;
}
.float-left {
    float: left;
    display: none;
}
.float-right {
    float: right;
}
.availability {
    color: #D1752A;
    font-size: 8px;
    font-weight: 900;
    margin-left: 5px;
    clear: none;
    display: none;
}
.grid {
    clear: both;
    min-width: 200px;
    padding-top: 135px;
    margin-top: 14px;
}
.container main p {
    margin-top: 12px;

}

.grid-table {
    max-width: 100%;



}
tr td .imgHTML {
    width: 100%;
    height: auto;


}
.container main .hrmain {
    clear: both;
    border-color: rgba(187,37,74,0.00);
}
.container main .hr-main {
    border-color: rgba(0,0,0,0.00);
    margin-top: 69px;
}
.grid-table-tablet {
    display: none;
}
.grid-table-mobile {
    display: none;
}
.hero-content a.btn-orange {
    display: none;

}























/*Tablet View*/
@media (min-width:501px) and (max-width:768px){
.mobile-view   {
    float: right;
    display: inline-block;
    margin-right: -62px;
}
.main-content p.grid  {


}


.desktop-view {
    display: none;
    text-align: center;
}
.desktop-view ul li {
    display: list-item;
    padding-top: 25px;
    text-align: right;
}




.expand {
	
    display: block;
}
	
;	margin-left: 0px;
    margin-left: 192px;
.hero-content   {
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    padding-top: 56px;
    min-width: 600px;
    max-height: 200px;


}
.hero-content img.float-left  {
    margin-left: 0px;
    display: none;
    float: left;




}
.hero-content p.float-left {
    margin-left: 11px;
    display: none;
    min-width: 0px;
    clear: both;
    margin-top: -53px;
    float: left;
}
.hero-content a.btn-orange  {
    clear: both;
    position: relative;
    display: none;
    float: left;
}
header {
    max-height: 28px;
    background-color: rgba(0,0,0,0.82);
    margin-right: 30px;

}
.logo2 {
    max-height: 21px;
    max-width: 37.5px;
    background-color: rgba(27,26,26,1.00);
}
.container main .hr-main {
    max-height: 1px;
}
.grid-table {
    display: none;
}
.grid-table-tablet {
    display: inline;
    min-width: 0px;
    padding-top: 0px;
    margin-top: -172px;
}
.grid {
    min-width: 499px;
    max-width: 800px;
    clear: both;
    margin-top: -124px;
    padding-top: 0px;
}
.container {
    min-width: 500px;
    max-width: 800px;
}
.grid-table-mobile {
    display: none;
}
.container main div {
    display: block;
    clear: both;
    content: "";
}
.container main .p {
    margin-top: -48px;
    display: none;
}
.hr-header {
    border-color: rgba(0,0,0,0.00);
    clear: both;
}




















}
.desktop-view {
    margin-bottom: 21px;
    margin-top: -11px;

}
tr td .imgCSS {
    width: 100%;

}
tr td .imgJS {
    width: 100%;

}
.container main div {
    margin-top: 15px;
    clear: both;
}
.hero-content div:after  {
    display: block;
    content: "";
}



.logo2 {
    max-height: 28px;
    margin-left: 8px;

}
.image-mail {
}
.img-face {
    padding-right: 16px;
}
.img-twit {
    padding-right: 16px;
}
.grid {
    position: relative;
    margin-top: 152px;
    padding-top: 197px;
}
.grid-table {
    padding-top: 120px;
    position: relative;
    margin-top: 104px;
}
.hr-header {
    border-color: rgba(0,0,0,0.00);
    clear: both;
}

.imgHTML {
}
.imgCSS {
}
.imgJS {
}
tr td .imgSinger {
    width: 100%;
}
tr td .imgHappy {
    width: 100%;
}
tr td .imgUIUX {
    width: 100%;
}

@media (max-width:500px){
.mobile-view   {
    float: right;
    display: inline-block;
    margin-right: -61px;
}
.main-content   {
    min-width: 200px;
    max-width: 400px;


}


.desktop-view {
    display: none;
    text-align: center;
}
.desktop-view ul li {
    display: list-item;
    padding-top: 25px;
    text-align: right;
}




.expand {
	
    display: block;
}
	
;	margin-left: 0px;
    margin-left: 192px;
.hero-content   {
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;


}
.hero-content a.btn-orange  {
    clear: both;
    position: relative;
    display: none;
}
header {
    background-color: rgba(0,0,0,0.00);
    margin-top: -18px;
    margin-left: -60px;

}
.logo2 {
    max-height: 21px;
    max-width: 37.5px;
    background-color: rgba(27,26,26,1.00);
    margin-left: -113px;
}
.container main .hr-main {
    max-height: 1px;
}
.grid-table {
    display: none;
}
.grid-table-tablet {
    display: none;
}
.grid {
    padding-top: 0px;
    min-width: 200px;
    max-width: 400px;
}
.container {
    min-width: 200px;
    max-width: 400px;
}
.grid-table-mobile {
    display: inline;
    min-width: 200px;
    max-width: 400px;
}
.hero-backimage {
    background-image: url(images/HeroBackHorce2.svg);
    background-repeat: no-repeat;
    margin-top: 0px;
    padding-top: 10px;
}
.hero-content {
    margin-left: 5px;
    min-height: 200px;
    min-width: 600px;
    max-height: 400px;
}
.container main div {
    display: block;
    clear: both;
    content: "";
    min-width: 200px;
    max-width: 400px;
}
.container main .p {
    margin-top: -48px;
}
.hero-content .float-left {
    display: none;
}






















}
.desktop-view {
    margin-bottom: 21px;
    margin-top: -11px;

}
tr td .imgCSS {
    width: 100%;

}
tr td .imgJS {
    width: 100%;

}


.container main .btn-orange  {
    padding-top: 5px;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #E8E8E8;
    margin-top: 5px;
    clear: both;
    float: left;
}
.container main div {
    margin-top: 100px;
    clear: both;
}


.logo2 {
    max-height: 28px;
    margin-left: 8px;

}
.image-mail {
}
.img-face {
    padding-right: 16px;
}
.img-twit {
    padding-right: 16px;
}
.grid {
    position: relative;
    margin-top: 91px;
}
.grid-table {
    padding-top: 120px;
    position: relative;
}
.imgHTML {
}
.imgCSS {
}
.imgJS {
}
tr td .imgSinger {
    width: 100%;
}
tr td .imgHappy {
    width: 100%;
}
tr td .imgUIUX {
    width: 100%;
}
.hr-main {
    max-height: 1px;
}

.hr-main {
    max-height: 1px;
    margin-top: 110px;
}
